@charset "UTF-8";


*{
    margin: 0px;
    padding: 0px;
}
body,html{
    background-color: rgb(247, 248, 248);
}

header{
    background-color: black;
    text-align: center;
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
}

a{
    color: white;
    text-decoration: none;
} 
a:hover{
    text-decoration: underline;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}